<!DOCTYPE HTML>

<html>
<head>
<title>Quản Lý Công Ty</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="/bootstrap-4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<script src="/jquery/jquery-3.4.1.min.js"></script>
<script src="/bootstrap-4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="khung">
		<div class="container-fluid">
			<div class="menu">
				<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
					<a class="navbar-brand text-center mr-auto">QUẢN LÝ CÔNG TY</a>
					<a class="btn btn-primary" th:href="@{login}">Logout</a>
				</nav>
			</div>
			<div class="row">
				<div class="col-sm-2 left">
					<div class="menu">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item"><a class="nav-link " th:href="@{trangchu}"><p>Trang Chủ</p></a></li>
							<li class="nav-item"><a class="nav-link " th:href="@{nhanvien}"><p>Nhân Viên</p></a></li>
							<li class="nav-item"><a class="nav-link " th:href="@{listphongban}"><p>Phòng Ban</p></a></li>
							<li class="nav-item"><a class="nav-link " th:href="@{listtrinhdo}"><p>Trình Độ</p></a></li>
							<li class="nav-item"><a class="nav-link " th:href="@{listduan}"><p>Dự Án</p></a></li>
							<li class="nav-item"><a class="nav-link active" th:href="@{listbophan}"><p>Bộ Phận</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listbangluong}"><p>Bảng Lương</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listchamcong}"><p>Chấm Công</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listchucvu}"><p>Chức Vụ</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listhopdong}"><p>Hợp Đồng</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listtinhluong}"><p>Tính Lương</p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listquyenhan}"><p>Quyền Hạng </p></a></li>
							<li class="nav-item"><a class="nav-link" th:href="@{listnguoidung}"><p>Người Dùng</p></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-10 right">
					<div class="tab-content" id="v-pills-tabContent">
						<!-- Thêm Nhân Viên -->
						<div class="ListNhanvien tab-pane fade show active"
							id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">
							<div class="formsuport">
								<div class="row">
									<div class="col-8">
										<a class="btn btn-primary addnhanvien "
											th:href="@{/quanly/listbophan}"> Thoát </a>
									</div>
									<div class="col-4">
										<form class="form-inline">
											<div class="form-group mx-sm-3 mb-2">
												
											</div>
											
										</form>
									</div>
								</div>
							</div>
							<div class="tab-content" id="pills-tabContent">
								<div class="khunglist tab-pane fade shown active"
									id="pills-profile" role="tabpanel"
									aria-labelledby="pills-profile-tab">
									<div class="card">
										<div class="card-header card-header-primary">
											<h3 class="card-title ">Thêm Bộ Phận</h3>
										</div>
										<div class="card-body">
											<form action="#" th:action="@{/quanly/xulythemBP}"
												th:object="${BoPhan}">
												<div class="form-row">
													<div class="form-group col-sm-6">
														<label for="TenBP">Tên Bộ Phận</label> <input type="text"
															class="form-control" id="ho" placeholder="Tên Bộ Phận"
															th:field="*{TenBP}"></input>
													</div>
												</div>
													<button type="submit" class="btn btn-primary">Thêm
														Bộ Phận</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Thêm NHân Viên -->
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>