<!DOCTYPE HTML>

<html>
<head>
<title>Quản Lý Công Ty</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="bootstrap-4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />


</head>
<body>
	<div class="khung">
		<div class="container-fluid">
			<div class="menu">
				<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
					<a class="navbar-brand text-center mr-auto">QUẢN LÝ CÔNG TY</a> 
					<a class="btn btn-primary" th:href="@{login}">Logout</a>
				</nav>
			</div>
			<div class="row">
				<div class="col-sm-2 left">
					<div class="menu">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item"><a class="nav-link " href="trangchu.html">
								<p>Trang Chủ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listNV.html">
								<p>Nhân Viên</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listPB.html">
								<p>Phòng Ban</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listTD.html">
								<p>Trình Độ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listDA.html">
								<p>Dự Án</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listBP.html">
								<p>Bộ Phận</p>
							</a></li>
						<li class="nav-item"><a class="nav-link active" href="listBL.html">
								<p>Bảng Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listCC.html">
								<p>Chấm Công</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listCV.html">
								<p>Chức Vụ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listHD.html">
								<p>Hợp Đồng</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listTL.html">
								<p>Tính Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listQH.html">
								<p>Quyền Hạng </p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listND.html">
								<p>Người Dùng</p>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-10 right">
					<div class="tab-content" id="v-pills-tabContent">
						<!-- Thêm Nhân Viên -->
						<div class="ListNhanvien tab-pane fade show active"
							id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">
							<div class="formsuport">
								<div class="row">
									<div class="col-8">
										<a class="btn btn-primary addnhanvien "
											th:href="@{/quanly/listbangluong}"> Thoát </a>
									</div>
									<div class="col-4">
										<form class="form-inline">
											<div class="form-group mx-sm-3 mb-2"></div>

										</form>
									</div>
								</div>
							</div>
							<div class="tab-content" id="pills-tabContent">
								<div class="khunglist tab-pane fade shown active"
									id="pills-profile" role="tabpanel"
									aria-labelledby="pills-profile-tab">
									<div class="card">
										<div class="card-header card-header-primary">
											<h3 class="card-title ">Thêm Bảng Lương</h3>
										</div>
										<div class="card-body">
											<form action="#" th:action="@{/quanly/xulythemBL}"
												th:object="${BangLuong}">
												<div class="form-row">
													<div class="form-group col-sm-6">
														<label for="ho">Tháng</label> <input type="text"
															class="form-control" id="ho" placeholder="Tháng 1"
															th:field="*{Thang}"/>
													</div>

													<div class="form-group col-sm-6">
														<label for="ten">Năm</label> <input type="text"
															class="form-control" id="ten" placeholder="2017"
															th:field="*{Nam}"/> 
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-3">
														<label for="SoDT">Tạm Ứng</label> <input type="text"
															th:field="*{TamUng}" class="
																form-control"
															id="SDT" placeholder="350.000vnđ"/>
													</div>
													<div class="form-group col-md-3">
														<label for="GioiTinh">Trừ Lương</label> 
														<input type="text"
															th:field="*{TruLuong}"
															class="form-control" id="GioiTinh" placeholder="350.000vnđ"/>
													</div>
													<div class="form-group col-md-3">
														<label for="diachi">Tổng</label> <input type="text"
															class="form-control" id="diachi" placeholder="500.000vnđ"
															th:field="*{Tong}"/>
													</div>
													<div class="form-group col-md-3">
														<label for="TTHN">Còn Lại</label> <input
															type="text" th:field="*{Conlai}"
															class="
																form-control" id="TTHN"
															placeholder="100.000vnđ"/>
													</div>
												</div>

												<div class="form-row">
													<div class="form-group col-md-4">
														<label for="inputState">Nhân Viên</label> <select
															id="inputState" class="form-control" th:field="*{NhanVien}">
															<option th:each="item:${listNhanVien}"
																th:value="${item.MaNV}" th:text="${item.Ten}">
																</option>
														</select>
													</div>

													<div class="form-group col-md-4">
														<label for="inputState">Chấm Công</label> <select
															id="inputState" class="form-control"
															th:field="*{ChamCong}">
															<option th:each="item:${listChamCong}"
																th:value="${item.MaCC}" th:text="${item.SoNgayCong}"></option>
														</select>
													</div>

													<div class="form-group col-md-4">
														<label for="inputState">Tính Lương</label> <select
															id="inputState" class="form-control"
															th:field="*{TinhLuong}">
															<option th:each="item:${listTinhLuong}"
																th:value="${item.MaTL}" th:text="${item.LuongCoBan}"></option>
														</select>
													</div>
												</div>
												<button type="submit" class="btn btn-primary">Thêm
													Bảng Lương</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Thêm NHân Viên -->
					</div>
				</div>

			</div>
		</div>
	</div>

	
<script src="jquery/jquery-3.4.1.min.js"></script>
<script src="bootstrap-4.3.1/js/bootstrap.min.js"></script>

</body>
</html>