<!DOCTYPE HTML>

<html>
<head>
<title>Quản Lý Công Ty</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="bootstrap-4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script src="jquery/jquery-3.4.1.min.js"></script>
<script src="bootstrap-4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="khung">
		<div class="container-fluid">
			<div class="menu">
				<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
					<a class="navbar-brand text-center mr-auto">QUẢN LÝ CÔNG TY</a>
					<a class="btn btn-primary" th:href="@{login}">Logout</a>
				</nav>
			</div>
			<div class="row">
				<div class="col-sm-2 left">
					<div class="menu">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item"><a class="nav-link " href="trangchu.html">
								<p>Trang Chủ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listNV.html">
								<p>Nhân Viên</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listPB.html">
								<p>Phòng Ban</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listTD.html">
								<p>Trình Độ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listDA.html">
								<p>Dự Án</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listBP.html">
								<p>Bộ Phận</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listBL.html">
								<p>Bảng Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listCC.html">
								<p>Chấm Công</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listCV.html">
								<p>Chức Vụ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listHD.html">
								<p>Hợp Đồng</p>
							</a></li>
						<li class="nav-item"><a class="nav-link active" href="listTL.html">
								<p>Tính Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listQH.html">
								<p>Quyền Hạng </p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listND.html">
								<p>Người Dùng</p>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-10 right">
					<div class="tab-content" id="v-pills-tabContent">
						<!--  List Phòng Ban  -->
						<div class="ListNhanvien tab-pane fade show active"
							id="v-pills-phongban" role="tabpanel"
							aria-labelledby="v-pills-phongban-tab">
							<!-- 	form suport -->
							<div class="formsuport">
								<div class="row">
									<div class="col-4 ">
										<a class="btn btn-primary addnhanvien"
											th:href="@{/quanly/themtinhluong}"> Thêm Tính Lương </a>
									</div>
									<div class="col-8">
										<div class="form-row">
											<form class="form-inline col-md-6" action="#"
												th:action="@{/quanly/sortTL}" th:object="${TinhLuong}">
												<div class="form-group mx-sm-3 mb-2">
													<input type="search" th:field="*{LuongCoBan}" class="form-control"
														placeholder="vd: Lương cơ bản"> </input>
												</div>
												<button type="submit" class="btn btn-primary  mb-2 search">Xắp
													xếp</button>
											</form>
											<form class="form-inline col-md-6" action="#"
												th:action="@{/quanly/searchTL}"
												th:object="${TinhLuong}">
												<div class="form-group mx-sm-3 mb-2">
													<input type="search" th:field="*{LuongCoBan}" class="form-control"
														placeholder="Search"> </input>
												</div>
												<button type="submit" class="btn btn-primary  mb-2 search">Search</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- End form suport -->

							<div class="khunglist">
								<div class="card">
									<div class="card-header card-header-primary">
										<h3 class="card-title ">Danh sach Tính Lương</h3>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table table-hover">
												<thead class="thead-light">
													<tr>
														<th>Mã Tính Lương</th>
														<th>Nhân Viên</th>
														<th>Lương Cơ Bản</th>
														<th>BHYT</th>
														<th>BHXH</th>
														<th>Hệ Số</th>
														<th>Phụ Cấp</th>
														<th>Update</th>
														<th>Delete</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="item:${listTinhLuong}">
														<td th:text="${item.MaTL}"></td>
														<td th:text="${item.NhanVien.Ten}"></td>
														<td th:text="${item.LuongCoBan}"></td>
														<td th:text="${item.BHXH}"></td>
														<td th:text="${item.BHYT}"></td>
														<td th:text="${item.HeSo}"></td>
														<td th:text="${item.PhuCap}"></td>
														<td><a
															th:href="@{/quanly/suaTL/{MaTL}(MaTL=${item.MaTL})}">Update</a></td>
														<td><a
															th:href="@{/quanly/xoaTL/{MaTL}(MaTL=${item.MaTL})}">Delete</a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
				<!-- End List Phòng Ban  -->
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>