<!DOCTYPE HTML>

<html>
<head>
<title>Quản Lý Công Ty</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	href="bootstrap-4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script src="jquery/jquery-3.4.1.min.js"></script>
<script src="bootstrap-4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="khung">
		<div class="container-fluid">
			<div class="menu">
				<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
					<a class="navbar-brand text-center mr-auto">QUẢN LÝ CÔNG TY</a> <a
						class="btn btn-primary" th:href="@{login}">Logout</a>
				</nav>
			</div>
			<div class="row">
				<div class="col-sm-2 left">
					<div class="menu">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item"><a class="nav-link " href="trangchu.html">
								<p>Trang Chủ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listNV.html">
								<p>Nhân Viên</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listPB.html">
								<p>Phòng Ban</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listTD.html">
								<p>Trình Độ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listDA.html">
								<p>Dự Án</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listBP.html">
								<p>Bộ Phận</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listBL.html">
								<p>Bảng Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listCC.html">
								<p>Chấm Công</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listCV.html">
								<p>Chức Vụ</p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listHD.html">
								<p>Hợp Đồng</p>
							</a></li>
						<li class="nav-item"><a class="nav-link active" href="listTL.html">
								<p>Tính Lương</p>
							</a></li>
						<li class="nav-item"><a class="nav-link" href="listQH.html">
								<p>Quyền Hạng </p>
							</a></li>
						<li class="nav-item"><a class="nav-link " href="listND.html">
								<p>Người Dùng</p>
							</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-10 right">
					<div class="tab-content" id="v-pills-tabContent">
						<!-- Thêm Nhân Viên -->
						<div class="ListNhanvien tab-pane fade show active"
							id="v-pills-profile" role="tabpanel"
							aria-labelledby="v-pills-profile-tab">
							<div class="formsuport">
								<div class="row">
									<div class="col-8">
										<a class="btn btn-primary addnhanvien "
											th:href="@{/quanly/listtinhluong}"> Thoát </a>
									</div>
									<div class="col-4">
										<form class="form-inline">
											<div class="form-group mx-sm-3 mb-2"></div>

										</form>
									</div>
								</div>
							</div>
							<div class="tab-content" id="pills-tabContent">
								<div class="khunglist tab-pane fade shown active"
									id="pills-profile" role="tabpanel"
									aria-labelledby="pills-profile-tab">
									<div class="card">
										<div class="card-header card-header-primary">
											<h3 class="card-title ">Sửa Tính Lương</h3>
										</div>
										<div class="card-body">
											<form action="#" th:action="@{/quanly/updateTL}"
												th:object="${TinhLuongup}">
												<div class="form-row">
													<div class="form-group col-sm-6">
														<label for="TenPB">Mã Tính Lương</label> <input
															type="text" class="form-control" id="ho"
															placeholder="Mã Tính Lương" th:field="*{MaTL}"></input>
													</div>
													<div class="form-group col-sm-6">
														<label for="TenPB">Lương Cơ Bản</label> <input type="text"
															class="form-control" id="ho" placeholder="Lương cơ bản"
															th:field="*{LuongCoBan}"></input>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-sm-6">
														<label for="TenPB">BHYT</label> <input type="text"
															class="form-control" id="ho" placeholder="56465464"
															th:field="*{BHYT}"></input>
													</div>
													<div class="form-group col-sm-6">
														<label for="TenPB">BHXH</label> <input type="text"
															class="form-control" id="ho" placeholder="4654464"
															th:field="*{BHXH}"></input>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-sm-6">
														<label for="TenPB">Hệ Số</label> <input type="text"
															class="form-control" id="ho" placeholder="2.5"
															th:field="*{HeSo}"></input>
													</div>
													<div class="form-group col-sm-6">
														<label for="TenPB">Phụ Cấp</label> <input type="text"
															class="form-control" id="ho" placeholder="2.000vnd"
															th:field="*{PhuCap}"></input>
													</div>
												</div>
												<div class="form-row">
													<div class="form-group col-md-6">
														<label for="inputState">Nhân Viên</label> <select
															id="inputState" class="form-control"
															th:field="*{NhanVien}">
															<option th:each="item:${listNhanVien}"
																th:value="${item.MaNV}" th:text="${item.Ten}"></option>
														</select>
													</div>
												</div>
												<button type="submit" class="btn btn-primary">Sửa
													Tính Lương</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- End Thêm NHân Viên -->
					</div>
				</div>

			</div>
		</div>
	</div>

	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>